* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 0;
    padding: 2vw;
    background-color: rgba(140,69,132,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1.5vw;
    box-shadow: 0 1.5vh 3vh rgba(0,0,0,0.5);
}

.time {
    margin: 0;
    margin-bottom: 3vh;
    font-size: 10vw;
    color: brown;
}

.title {
    margin: 0;
    margin-bottom: 3vh;
    font-size: 2.5vw;
    color: brown;
}

.button-box {
    width: 100%;
    display: flex;
    justify-content: center;
}

.start-button, .pause-button, .reset-button {
    width: 33%;
    margin: 0 1vh;
    padding: 1.5vw;
}

.start, .reset, .pause {
    padding: 1vw;
    width: 100%;
    border-radius: 1vw;
    box-shadow: 0 0.2vw 0.4vw rgba(0,0,0,0.5);
    font-size: 3vh;
    font-weight: 900;
    color: whitesmoke;
    background-color: blueviolet;
    border: none;
    outline: none;
}

.pause:hover {
    background-color: brown;
}

.start:hover {
    background-color: brown;
}

.reset:hover {
    background-color: brown;
}